body { 
    background: url(../images/cartoon.jpg) no-repeat center center fixed;
    background-size: auto;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	font-size: 30px;
    font-family: 'Baloo Bhai', cursive; 
}


h1 {
    font-family: 'Modak', cursive;
    color: rgb(91, 119, 241);
    font-size: 88px;
    text-align: center;
	padding: 30px;
	-webkit-text-stroke-width: 3px;
   -webkit-text-stroke-color: black;
}



h2,
h3 {
	font-family: 'Modak', cursive;
    color: rgb(130, 180, 255);
    font-size: 50px;
	padding: 30px;
	-webkit-text-stroke-width: 3px;
   -webkit-text-stroke-color: black;
}

.answer,
#timer {
    color: rgb(17, 170, 17);
	font-weight: 900;
}

#start {
	font-family: 'Modak', cursive;
    color: rgb(214, 239, 241);
    font-size: 65px;
	padding: 30px;
	-webkit-text-stroke-width: 3px;
   -webkit-text-stroke-color: black;
}

.choices {
	text-align: center;
	border: groove 2px black;
	border-radius: 5%;
	margin: 0 35%;
}

img {
    width: 350px;
    height: 200px;
    border: 2.5px solid black;
}

.choices:hover {
	background-color: rgb(255, 217, 0);
	color: white;
}

#gameScreen {
	padding: 50px;
	height: 300px;
    font-size: 40px;
    background-color: rgb(23, 201, 255);
    border: 2px solid black;
	-webkit-box-shadow: 7px 5px 47px 20px rgba(0, 89, 255, 0.76);
	-moz-box-shadow: 7px 5px 47px 20px rgba(32, 141, 243, 0.76);
	box-shadow: 20px 5px 47px 20px rgba(91, 176, 255, 0.76);
}

.shadow {
	-webkit-box-shadow: -7px 6px 5px -1px rgba(0, 60, 255, 0.79);
	-moz-box-shadow: -7px 6px 5px -1px rgba(0, 60, 255, 0.79);
	box-shadow: -7px 6px 5px -1px rgba(102, 205, 253, 0.79);
}