body { 
    background: url(../images/cartoon.jpg) no-repeat center center fixed;
    background-size: auto;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	
    font-family: 'Baloo Bhai', cursive; 
}

html {
	cursor: url(../images/controller.png), auto;
}

h1 {
    font-family: 'Modak', cursive;
    color: rgb(91, 119, 241);
    font-size: 87px;
    text-align: center;
	padding: 30px;
	-webkit-text-stroke-width: 3px;
   -webkit-text-stroke-color: black;
}

p {
    font-size: 50px;
    
}

h2,
h3 {
	font-family: 'Modak', cursive;
    color: rgb(130, 180, 255);
    font-size: 50px;
	padding: 30px;
	-webkit-text-stroke-width: 3px;
   -webkit-text-stroke-color: black;
}

.answer,
#timer {
    color: rgb(17, 170, 17);
	font-weight: 900;
}

#start {
	font-family: 'Modak', cursive;
    color: rgb(214, 239, 241);
    font-size: 65px;
	padding: 30px;
	-webkit-text-stroke-width: 3px;
   -webkit-text-stroke-color: black;
}

.choices {
	text-align: center;
	border: groove 2px black;
	border-radius: 5%;
	margin: 0 35%;
}

img {
    width: 400px;
    height: 250px;
}

.choices:hover {
	background-color: rgb(255, 217, 0);
	color: white;
}

#gameScreen {
    padding: 27px;
    font-size: 40px;
	-webkit-box-shadow: 7px 5px 47px 0px rgba(0, 89, 255, 0.76);
	-moz-box-shadow: 7px 5px 47px 0px rgba(0, 204, 255, 0.76);
	box-shadow: 20px 5px 47px 0px rgba(165, 43, 247, 0.76);
}

.shadow {
	-webkit-box-shadow: -7px 6px 5px -1px rgba(0, 225, 255, 0.79);
	-moz-box-shadow: -7px 6px 5px -1px rgba(0, 60, 255, 0.79);
	box-shadow: -7px 6px 5px -1px rgba(102, 205, 253, 0.79);
}